.card {
  position: absolute;
  padding: 1px;  
  border: 1px solid grey;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.card:nth-child(2) {
  top: 0;
  left: 100px;
}
.card:nth-child(3) {
  top: 0;
  left: 155px;
  background-image: url('./assets/img/board/question.png');
}
.card:nth-child(4) {
  top: 0;
  left: 210px;
}
.card:nth-child(5) {
  top: 0;
  left: 265px;  
  background-image: url('./assets/img/board/money.png');
}
.card:nth-child(6) {
  top: 0;
  left: 320px;
}
.card:nth-child(7) {
  top: 0;
  left: 375px;
}
.card:nth-child(8) {
  top: 0;
  left: 430px;
  background-image: url('./assets/img/board/question.png');
}
.card:nth-child(9) {
  top: 0;
  left: 485px;
}
.card:nth-child(10) {
  top: 0;
  left: 540px;
}
.card:nth-child(12) {
  top: 100px;
  right: 0;
}
.card:nth-child(13) {
  top: 155px;
  right: 0;
}
.card:nth-child(14) {
  top: 210px;
  right: 0;
}
.card:nth-child(15) {
  top: 265px;
  right: 0;
}
.card:nth-child(16) {
  top: 320px;
  right: 0;
}
.card:nth-child(17) {
  top: 375px;
  right: 0;
}
.card:nth-child(18) {
  top: 430px;
  right: 0;
}

.card:nth-child(18)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  background: url('./assets/img/board/question.png') 0 0 no-repeat;
  background-size: 40%;
  transform: rotate(90deg);
}

.card:nth-child(19) {
  top: 485px;
  right: 0;
}
.card:nth-child(20) {
  top: 540px;
  right: 0;
}

.card:nth-child(22) {
  bottom: 0;
  left: 540px;
}
.card:nth-child(23) {
  bottom: 0;
  left: 485px;
  background-image: url('./assets/img/board/question.png');
}
.card:nth-child(24) {
  bottom: 0;
  left: 430px;
}
.card:nth-child(25) {
  bottom: 0;
  left: 375px;
}
.card:nth-child(26) {
  bottom: 0;
  left: 320px;
}
.card:nth-child(27) {
  bottom: 0;
  left: 265px;
}
.card:nth-child(28) {
  bottom: 0;
  left: 210px;
}
.card:nth-child(29) {
  bottom: 0;
  left: 155px;
}
.card:nth-child(30) {
  bottom: 0;
  left: 100px;
}

.card:nth-child(32) {
  left: 0;
  top: 540px;
}
.card:nth-child(33) {
  left: 0;
  top: 485px;
}
.card:nth-child(34) {
  left: 0;
  top: 430px;
}
.card:nth-child(34)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 0;
  background: url('./assets/img/board/question.png') 0 0 no-repeat;
  background-size: 40%;
  transform: rotate(-90deg);
}


.card:nth-child(35) {
  left: 0;
  top: 375px;
}
.card:nth-child(36) {
  left: 0;
  top: 320px;
}
.card:nth-child(37) {
  left: 0;
  top: 265px;  
  background-image: url('./assets/img/board/brilliant.png');
}
.card:nth-child(38) {
  left: 0;
  top: 210px;
}
.card:nth-child(39) {
  left: 0;
  top: 155px;
}
.card:nth-child(39)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 0;
  background: url('./assets/img/board/question.png') 0 0 no-repeat;
  background-size: 40%;
  transform: rotate(-90deg);
}

.card:nth-child(40) {
  left: 0;
  top: 100px;
}
