// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$main-bg-color: rgb(250, 248, 248);
$button-color: #6a983c;

$content-width: 1260px;

$small-desktop-width: 1500px;
$tablet-width: 950px;
$mobile-width: 630px;
